.container{
	margin-top: 10px
}

a:hover{
	cursor: pointer;
}

.locations{
	
	text-align:center;
	font-weight:bold;
	font-family:helvetica
}

.about-app{
	text-align:justify;
	font-weight:bold;
	font-family:helvetica
	color:f8f8f8;
	margin-top:10px;
	font-size:20px;
}

.analytical-result{
	font-weight:bold;
	font-family:helvetica;
	font-size:15px;
}

.home-image{
	height:350px;
	width:100%;
}