<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Parking Analysis</title>
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

<link rel="stylesheet" href="css/custom.css" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">

		<div class="row">

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">San Diego Smart Analysis</a>
					</div>
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li class="active"><a href="getparkinganalysis">Parking
								Analysis</a></li>
						<li><a href="gettrafficanalysis">Traffic Analysis</a></li>
						<li><a href="locationanalysis">Location Analysis</a></li>
						<li><a href="getfutureparkingspace">Future Parking</a></li>

					</ul>
				</div>
			</nav>

		</div>
		<div class="row">
			<div class="col-md-4 parkingdetails">



				<div class="form-group">
					<label for="">Location</label> <select class="city form-control">
						<option value="Balboa Park">Balboa Park</option>
						<option value="Bankers Hill">Bankers Hill</option>
						<option value="Sherman Heights">Sherman Heights</option>
						<option value="Air and space museum">Air and space museum</option>
						<option value="San diego Civic theater">San diego Civic
							theater</option>

					</select>


					<button type="button" class="btn btn-info" onclick="myFunction()"
						style="margin-top: 7px;">Submit</button>

				</div>

			</div>

			<div class="col-md-6 col-md-offset-2">
				<div class="loading-image-div" id="loading-image">
					<img class="loading-image" src="img/loading.gif" />
				</div>
				<div id="map" style="height: 400px; width: 100%;">Location Map
			</div>
		</div>
	</div>

	<div style="margin: 10px;"></div>

	<div class="row">


		<div class="col-md-6 ">
			<div id="mapx" style="height: 400px; width: 100%;"></div>
			<span class='element1'>Number of violations:</span> <span id="e1"
				class="analytical-result"> </span> <br /> <span class='element1'>Number
				cars spotted:</span> <span id="e2" class="analytical-result"> </span> <br />
			<span class='element1'>Address:</span> <span id="e3"
				class="analytical-result"> </span> <br />
		</div>


		<div class="col-md-6 ">


			<div id="chartContainer" style="height: 400px; width: 100%;"></div>


		</div>

	</div>
	</div>



	<script async="async" defer="defer"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD337K3FBoUIcvjTAovo91T3gnIHc6wSwc&amp;callback=initMap"></script>
	<script src="js/parking.js"></script>
</body>
</html>
