<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
#map {
	height: 400px;
	width: 100%;
}
</style>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Traffic Analysis</title>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/resources/demos/style.css" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="css/custom.css" />
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 "></div>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">San Diego Smart Analysis</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="getparkinganalysis">Parking Analysis</a></li>
						<li><a href="gettrafficanalysis">Traffic Analysis</a></li>
						<li><a href="locationanalysis">Location Analysis</a></li>
						<li><a href="getfutureparkingspace">Future Parking</a></li>
					</ul>
				</div>
			</nav>

		</div>


		<div class="about-app">The Application can be used to view
			different parking violations that have taken place in a particular
			area. This feature can be used by the local authorities to understand
			which are the areas where more parking violations are taking place.</div>

		<div class="about-app">It can also be for viewing more Traffic
			Prone areas which can used by the authorities for developing
			alternate routes for heavy traffic prone areas</div>

		<div class="about-app">A customer can use this app to find the
			nearest parking around him in real time.</div>
		<div class="row">
			<div class="col-md-4 ">
				<a href="#"><img class="home-image" src="img/image1.png" /></a>
			</div>
			<div class="col-md-4 ">
				<a href="#"><img class="home-image" src="img/image2.png" /></a>
			</div>
			<div class="col-md-4 ">
				<a href="#"><img class="home-image" src="img/image3.png" /></a>
			</div>
		</div>
	</div>
</body>
</html>