<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
#map {
	height: 400px;
	width: 100%;
}
</style>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Traffic Analysis</title>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/resources/demos/style.css" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="css/custom.css" />
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 "></div>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">San Diego Smart Analysis</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="getparkinganalysis">Parking Analysis</a></li>
						<li><a href="gettrafficanalysis">Traffic Analysis</a></li>
						<li><a href="locationanalysis">Location Analysis</a></li>
						<li><a href="getfutureparkingspace">Future Parking</a></li>
					</ul>
				</div>
			</nav>

		</div>


		<div class="about-app">The application can be used to gauge the
			traffic and parking data for any time frame and make Analysis
			accordingly. It can also be used to predict future parking spots in
			the city which can be used by the authorities to take appropriate
			actions. The application is divided into four main sections.
			
			<ul>
			<li>Traffic Analysis</li>
			<li>Parking Analysis</li>
			<li>Location Analysis</li>
			<li>Future Parking Prediction</li>
			</ul>
			
			</div>



		<div class="row">
			<div class="col-md-4 ">
				<a href="#"><img class="home-image" src="img/image1.png" /></a>
			</div>
			<div class="col-md-4 ">
				<a href="#"><img class="home-image" src="img/image2.png" /></a>
			</div>
			<div class="col-md-4 ">
				<a href="#"><img class="home-image" src="img/image3.png" /></a>
			</div>
		</div>
	</div>
</body>
</html>