
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
#map {
	height: 400px;
	width: 100%;
}
</style>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Location Analysis</title>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="css/custom.css" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"> -->

<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" />

</head>
<body>
	<div id="locationSummary" class="container">

		<div class="row">

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">San Diego Smart Analysis</a>
					</div>
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="getparkinganalysis">Parking Analysis</a></li>
						<li><a href="gettrafficanalysis">Traffic Analysis</a></li>
						<li class="active"><a href="locationanalysis">Location
								Analysis</a></li>
						<li><a href="getfutureparkingspace">Future Parking</a></li>
					</ul>
				</div>
			</nav>

		</div>
		<div class="row">
			<div class="col-md-4 parkingdetails">

				<div class="form-group">
					<label for="">Location</label> <select class="city form-control"
						onChange="">
						<option value="Balboa Park">Balboa Park</option>
						<option value="Bankers Hill">Bankers Hill</option>
						<option value="Barrio Logan">Barrio Logan</option>
						<option value="Bay Ho">Bay Ho</option>
						<option value="Bay Park">Bay Park</option>
						<option value="Birdland">Birdland</option>
						<option value="Sherman Heights">Sherman Heights</option>
						<option value="Wooded Area">Wooded Area</option>
						<option value="Sorrento Valley">Sorrento Valley</option>
						<option value="Palm City">Palm City</option>
					</select> <label for="fromdate">From</label> <input type="text"
						class="form-control" id="fromdate" name="fromdate" /> <label
						for="todate">To</label> <input type="text" class="form-control"
						id="todate" name="todate" />

					<button type="button" class="btn btn-info"
						onclick="getlocationcoordinates(getLocationSummary)"
						style="margin-top: 7px;">Submit</button>

				</div>



			</div>
			<div class="col-md-6 col-md-offset-2 parkingdetails">
				<div id="map"></div>
				<span id="e3"></span>
			</div>
		</div>
		<div style="margin: 10px;"></div>
		<div class="row">
			<div class="col-md-6 ">


				<div id="chartContainer2" class="dialog"
					style="height: 370px; max-width: 920px; margin: 0px auto;"></div>

			</div>




			<div class="col-md-6 ">


				<div id="chartContainer" class="dialog"
					style="height: 370px; max-width: 920px; margin: 0px auto;"></div>


			</div>




		</div>
		<div class="row">

			<div class="col-md-6">
				<div id="parkingheatmap" style="width: 100%; height: 400px;"></div>
			</div>
			<div class="col-md-6">
				<div id="trafficheatmap" style="width: 100%; height: 400px;"></div>
			</div>
		</div>
	</div>

	<script async="async" defer="defer"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD337K3FBoUIcvjTAovo91T3gnIHc6wSwc&amp;callback=initMap&amp;libraries=visualization"></script>
	<script src="js/locationanalysis.js"></script>
</body>
</html>
